In [1]:
tp1=()

In [3]:
tp2=(1,2,3,4,5,6,7,8)
print(tp2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [4]:
print(sum(tp2))

36

In [5]:
print(tp2[2:5])

(3, 4, 5)

In [6]:
print(tp2[-1])

8

In [8]:
tp3=tuple([2*x for x in range(1,8)])
print(tp3)

(2, 4, 6, 8, 10, 12, 14)

In [9]:
tp4=tuple('Ivy Lin')
print('Ivy Lin')

Ivy Lin

In [10]:
tp5=("John", '小寶', '小文')
print(tp5)

('John', '小寶', '小文')

In [11]:
print(len(tp5))

3

In [12]:
print(tp4+tp5)

('I', 'v', 'y', ' ', 'L', 'i', 'n', 'John', '小寶', '小文')

In [13]:
tp6=tuple([1,2,4,5,6,7,8,9])
print(tp6)

(1, 2, 4, 5, 6, 7, 8, 9)

In [14]:
print(max(tp6))

9

In [15]:
print(min(tp6))

1